$select-color: orange;
$hover-color: #ffc46b;

.phovea-axis {
  .makeover {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
  }

  .tick line, path {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }

  circle {

  }
}

.phovea-barplot {
  rect {
    stroke: white;
    fill: black;
  }
}

.phovea-box {
  path.axis {
    stroke: darkgrey;
  }

  line.mean {
    stroke: black;
    stroke-width: 3px;
  }

  rect.box {
    fill: steelblue;
  }
}

div.phovea-heatmap {
  position: relative;
  line-height: 0;

  canvas {

    &.phovea-heatmap-selection {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }
  }
}


.phovea-scatterplot {
  circle {
    fill-opacity: .7;
  }

  circle.hidden {
    fill: #ccc !important;
  }

  .extent {
    fill: #000;
    fill-opacity: .125;
    stroke: #fff;
  }
}

.phovea-table {
  font-size: smaller;
  border-collapse: collapse;

  tr {
    &.phovea-select-selected {
      border: 1px solid $select-color;
    }
    &.phovea-select-hovered {
      border: 1px solid $hover-color;
    }
  }
}

.phovea-kaplanmeier {
  path {
    fill: none;
    stroke: black;
  }
}

.phovea-graph-force {
  .node {
    opacity: 0.5;
  }
  .edge {
    stroke: black;
  }
}


.phovea-heatmap {
  // highlight selection for svg heatmap
  rect {
    &.phovea-select-selected {
      fill: $select-color;
    }
    &.phovea-select-hovered {
      fill: $hover-color;
    }
  }
}

.phovea-histogram {
  .phovea-select-selected rect {
    fill: $select-color;
  }
  .phovea-select-hovered rect {
    fill: $hover-color;
  }
}
