$select-color: orange;
$hover-color: #ffc46b;

.phovea-axis {
  .makeover {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
  }

  .tick line, path {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }

  circle {

  }
}

.phovea-barplot {
  rect {
    stroke: white;
    fill: black;
    &.phovea-select-selected {
      border: 1px solid $select-color;
      fill: $select-color;
    }
  }
  text {
    user-select: none;
    pointer-events: none;
  }
}

.phovea-box {
  path.axis {
    stroke: darkgrey;
    stroke-width: 2px;
  }

  line.mean {
    stroke: black;
    stroke-width: 3px;
  }

  rect.box {
    fill: grey;
  }
}

div.phovea-heatmap {
  position: relative;
  line-height: 0;

  canvas {

    &.phovea-heatmap-selection {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }
  }

  .phovea-heatmap-labels {
    line-height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;

    div.phovea-select-selected {
      background-color: $select-color;
    }

    &.row-labels {
      top: 0;
      text-align: right;
    }

    &.column-labels {
      top: 0;
      transform: rotate(-90deg);
      transform-origin: top left;
    }
  }
}

.phovea-scatterplot {
  circle {
    fill-opacity: .7;
  }

  circle.hidden {
    fill: #ccc !important;
  }

  .extent {
    fill: #000;
    fill-opacity: .125;
    stroke: #fff;
  }
}

.phovea-table {
  font-size: smaller;
  border-collapse: collapse;

  tr {
    &.phovea-select-selected {
      border: 1px solid $select-color;
    }
    &.phovea-select-hovered {
      border: 1px solid $hover-color;
    }
  }
}

.phovea-kaplanmeier {
  path {
    fill: none;
    stroke: black;
  }
}

.phovea-graph-force {
  .node {
    opacity: 0.5;
  }
  .edge {
    stroke: black;
  }
}

.phovea-heatmap {
  // highlight selection for svg heatmap
  rect {
    &.phovea-select-selected {
      fill: $select-color;
    }
    &.phovea-select-hovered {
      fill: $hover-color;
    }
  }
  text {
    user-select: none;
    pointer-events: none;
  }
}

.phovea-histogram {
  .phovea-select-selected rect {
    fill: $select-color;
  }
  .phovea-select-hovered rect {
    fill: $hover-color;
  }
  text {
    user-select: none;
    pointer-events: none;
  }
}

.phovea-list {
  &.hor {
    flex-direction: row;
  }
  &.ver {
    flex-direction: column;
  }
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  text-overflow: ellipsis;

  > div {
    white-space: nowrap;

    &.small {
      font-size: 50%;
    }
  }

  &.phovea-proportional-symbol {
    > div {
      border-radius: 50%;
      background-color: black;
    }
  }

  &.phovea-barplot {
    align-items: stretch;

    > div {
      flex: 1 1 auto;
      background-color: black;
    }
  }
}

.phovea-mosaic {
  text {
    user-select: none;
    pointer-events: none;
  }
  .phovea-select-selected rect {
    fill: $select-color;
  }
}

.phovea-mosaic {
  text {
    user-select: none;
    pointer-events: none;
  }
  .phovea-select-selected rect {
    fill: $select-color;
  }
}
